body {
    font-family: monospace;
}

h1 {
    font-size: 40px;
    font-family: 'Goth';
    margin-bottom: -5px;
}

h2 {
    font-weight: normal;
}

.main {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#photo {
    margin-left: auto;
    margin-right: auto;
}

#text {

    margin-left: 350px;
    margin-right: 350px;
    margin-top: -10px;
}

#result {
    font-family: 'Forever Raw';
    font-size: 50px;
    margin-bottom: 15px;

}

footer {
    margin-top: 20px;
    font-size: 12px;

}

#photo {
    height: 300px;
}

#why {
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    display: none;
}

button {
    background-color: black;
    color: #ffff;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #ffff;
    color: black;
    font-family: monospace;
}

#select {

    cursor: text;
    border-radius: 4px;
    padding: 4px;
    margin-right: 5px;
}